html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding:0;
    padding-bottom:0;
    height:100%;
    color: rgb(255, 255, 255);
   /* background-color: rgb(102, 170, 202);*/
   background-color: rgb(102, 170, 202);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
}
   
    nav{
        margin-top:0;
        margin-left: 0;
        margin-right: 0;
        padding: 14px 16px;
        background-color:#ececec;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .logo, .menucontainer{
        margin-top: 50px;
        margin-bottom: 0px;
       /* margin-left: 0px;*/
    }
    
    .logo{
     margin: 0;
     width: 40%;
     height: 5%;
    font-family: 'Kaushan Script', cursive;
     font-size: 2.0rem;
     letter-spacing: 2px;
     color: #000000;
    
    
    
    }
    .menucontainer, .menu{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    
    }
    
    .menucontainer{
        margin-top: 40px;
       margin-left: 400px;
        overflow: hidden;
        background-color: transparent;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .menu, #menubtn{
        /*margin-left: 10px;*/
        font-family: 'Oswald', sans-serif;
    }
    .menucontainer a, #menubtn{
        /*width: 50%;*/
        justify-content: space-around;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        display:block;
        float:left;
        padding: 14px 16px;
        letter-spacing: 2px;
        cursor: pointer;
        margin-top: -20px
        
    }
    #menubtn , .abtbtn{
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0);
    }
    .menu a:hover, #menubtn:hover{
        background-color: rgb(255, 208, 0);
        color:rgb(0, 0, 0);
    }
    .menucontainer a.active{
        background-color: #ececec;
        color: rgb(0, 0, 0);
    }
    .menucontainer .icon{
        display: none;
    }



/*phones*/
@media (min-width: 320px) and (max-width:480px){
     .menucontainer {
         width: 100%;
         height: 50px;
         z-index: 9999;
         margin-left: 0;
         margin-right:0;
         margin-top:10%;
         padding-top: 2px;
         padding-bottom: 2px;
         font-size: 5px;
       
     }
     .menucontainer a, #menubtn{
         font-size: 5px;

     }
    
     .logo{
         margin-left:-10px;
         width: 3%;
         height: 3%;
         font-size: 0.25rem;
         letter-spacing: 0.25px;
         
     }
     nav{
         background-color: #ececec;
     }
     body{
         margin: 0;
         padding: 0;
         
     }
     #landing #text{
         margin: -100px;
         font-size: 15px;
         margin-top: 50%;
     }
     
     #text .myPic{
         margin-top: 0;
         margin-left:150px;
         min-width:320px;
         height:320px;
     }
     #landing{
     margin-top:50%;
     margin-left: 0;
     margin-right: 0;
     margin-bottom: 0;
     width: 100%;
     top: 0px;
     height:fit-content;
     padding:0;
     text-align: center;
     display:block;
     overflow: scroll;
     overflow-y: hidden;
     overflow-x: hidden;
    }
    body{
        font-size: 12px;
    }
    #topbtn{
        width: 10%;
        position: fixed;
        top: 0;
        right: 50px;
        font-size: 10px;
        border: none;
        border-radius: 100%;
        color: rgb(0, 0, 0);
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        background-color: rgb(255, 160, 96);
        margin-right: 35px;
    
    
    }
    .arrow{
        border: solid black;
        border-width: 0 5px 5px 0;
        border-radius: 2px;
        display: inline-block;
        margin-right: 40px;
        margin-top: 10px;
    }
    #contact-text{
        margin-top: 10%;
    }
    
    .buttons .portfolio{
        margin-left: 100px;
        margin-top: 10%;
        font-size: 20px;
        width: 50%;
    }
    .portfolio{
        text-decoration: none;
         border: 5px solid white;
         
         margin-left:-10%;
         margin-right:0;
         margin-bottom: 0;
         width: 100%;
         font-size: 5px;
         
         
    }
    .buttons .portfolio:hover{
        width: 50%;
        margin-left: 100px;
        transform: scale(1.2);
        transition: transform .5s;
    }
    
    #firstButn {
    background-color: #F78888;
    } 
    #secondButn {
    background-color: rgb(248, 185, 142);
    
    }
     #thirdButn {
     background-color:rgb(255, 208, 0) ;
    }
    #fourthButn{
        background-color: #5da2d5;
    }
    

    
    div .column-work{
        column-span: 2;
         display: flex;
         flex-direction: row;
        float: left;
        width: 50%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 300px;
        margin-top: 100px;
        padding: 5px;
        transition: transform .3s;
        cursor: pointer;
        
    }

.column-work{
    border: 2px solid #ececec;
}  
.column-work:hover{
    transform: scale(1.3);
    

}

.row-work::after{
    content: "";
    clear: both;
    display: inline-block;
}
}
/*screens 600px or less*/
@media(max-width: 823px) and (orientation:landscape)
{
    .menucontainer {
        width: 100%;
        height: 50px;
        z-index: 9999;
        margin-left: 10px;
        margin-right:0;
        margin-top:5%;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 5px;
      
    }
    .menucontainer a, #menubtn{
        font-size: 15px;

    }
   
    .logo{
        margin-left: 10px;
        width: 100%;
        height: 5%;
        font-size: 1.5rem;
        letter-spacing: 2px;
        
    }
    nav{
        background-color: #ececec;
    }
    body{
        margin: 0;
        padding: 0;
        
    }
    #landing #text{
        margin-left:0;
        margin-right: 0;
        font-size: 15px;
        margin-top: 50%;
    }
    
    #text .myPic{
        margin-top: 0;
        margin-left:-200px;
        min-width:320px;
        height:320px;
    }
    #landing{
    margin-top:50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
    height:fit-content;
    padding:0;
    text-align: center;
    display:block;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
   }
   body{
       font-size: 15px;
   }
   #topbtn{
       width: 10%;
       position: fixed;
       top: 0;
       right: 50px;
       font-size: 10px;
       border: none;
       border-radius: 100%;
       color: rgb(0, 0, 0);
       transform: rotate(-135deg);
       -webkit-transform: rotate(-135deg);
       background-color: rgb(255, 160, 96);
       margin-right: 35px;
   
   
   }
   .arrow{
       border: solid black;
       border-width: 0 5px 5px 0;
       border-radius: 2px;
       display: inline-block;
       margin-right: 40px;
       margin-top: 10px;
   }
   #contact-text{
       margin-top: 10%;
   }
   
   .buttons .portfolio{
       margin-left: 100px;
       margin-top: 10%;
       font-size: 30px;
       width: 60%;
   }
   .portfolio{
       text-decoration: none;
        border: 5px solid white;
        
        margin-left:-10%;
        margin-right:0;
        margin-bottom: 0;
        width: 100%;
        font-size: 5px;
        
        
   }
   .buttons .portfolio:hover{
       width: 80%;
       margin-left: 40px;
       transform: scale(1.3);
       transition: transform .3s;
   }
   
   #firstButn {
   background-color: #F78888;
   } 
   #secondButn {
   background-color: rgb(248, 185, 142);
   
   }
    #thirdButn {
    background-color:rgb(255, 208, 0) ;
   }
   #fourthButn{
       background-color: #5da2d5;
   }
   

   
   div .column-work{
       column-span: 2;
        display: flex;
        flex-direction: row;
       float: left;
       width: 50%;
       height: auto;
       margin-left: 20%;
       margin-right: 0;
       margin-bottom: 300px;
       margin-top: 100px;
       padding: 5px;
       transition: transform .3s;
       cursor: pointer;
       
   }

.column-work{
   border: 2px solid #ececec;
}  
.column-work:hover{
   transform: scale(1.3);
   

}

.row-work::after{
   content: "";
   clear: both;
   display: inline-block;
}
}
 


@media(max-width:1024px) and (orientation:portrait){

    

}

@media screen and (max-width: 800px){
    .menucontainer {
        width: 100%;
        height: 50px;
        z-index: 9999;
        margin-left: 10px;
        margin-right:0;
        margin-top:5%;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 5px;
      
    }
    .menucontainer a, #menubtn{
        font-size: 15px;

    }
   
    .logo{
        margin-left: 10px;
        width: 100%;
        height: 5%;
        font-size: 1.5rem;
        letter-spacing: 2px;
        
    }
    nav{
        background-color: #ececec;
    }
    body{
        margin: 0;
        padding: 0;
        
    }
    #landing #text{
        margin-left:0;
        margin-right: 0;
        font-size: 20px;
        margin-top: 50%;
    }
    
    #text .myPic{
        margin-top: 50%;
        margin-left:-200px;
        min-width:320px;
        height:320px;
    }
    #landing{
    margin-top:50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
    height:fit-content;
    padding:0;
    text-align: center;
    display:block;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
   }
   body{
       font-size: 20px;
       
   }
   #topbtn{
       width: 10%;
       position: fixed;
       top: 0;
       right: 70px;
       font-size: 10px;
       border: none;
       border-radius: 100%;
       color: rgb(0, 0, 0);
       transform: rotate(-135deg);
       -webkit-transform: rotate(-135deg);
       background-color: rgb(255, 160, 96);
       margin-right: 35px;
   
   
   }
   .arrow{
       border: solid black;
       border-width: 0 5px 5px 0;
       border-radius: 2px;
       display: inline-block;
       margin-right: 50px;
       margin-top: 10px;
   }
   #contact-text{
       margin-top: 50%;
   }
   
   .buttons .portfolio{
       margin-left: 100px;
       margin-top: 10%;
       font-size: 30px;
       width: 60%;
   }
   .portfolio{
       text-decoration: none;
        border: 5px solid white;
        
        margin-left:-10%;
        margin-right:0;
        margin-bottom: 0;
        width: 100%;
        font-size: 5px;
        
        
   }
   .buttons .portfolio:hover{
       width: 80%;
       margin-left: 40px;
       transform: scale(1.3);
       transition: transform .3s;
   }
   
   #firstButn {
   background-color: #F78888;
   } 
   #secondButn {
   background-color: rgb(248, 185, 142);
   
   }
    #thirdButn {
    background-color:rgb(255, 208, 0) ;
   }
   #fourthButn{
       background-color: #5da2d5;
   }
   

   
   div .column-work{
       column-span: 2;
        display: flex;
        flex-direction: row;
       float: left;
       width: 50%;
       height: auto;
       margin-left: 20%;
       margin-right: 0;
       margin-bottom: 300px;
       margin-top: 100px;
       padding: 5px;
       transition: transform .3s;
       cursor: pointer;
       
   }

.column-work{
   border: 2px solid #ececec;
}  
.column-work:hover{
   transform: scale(1.3);
   

}

.row-work::after{
   content: "";
   clear: both;
   display: inline-block;
}
}

/*Laptops*/
@media screen and (max-width:1024){
    .menucontainer {
        width: 100%;
        height: 50px;
        z-index: 9999;
        margin-left: 10px;
        margin-right:0;
        margin-top:5%;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 5px;
      
    }
    .menucontainer a, #menubtn{
        font-size: 15px;

    }
   
    .logo{
        margin-left: 10px;
        width: 100%;
        height: 5%;
        font-size: 1.5rem;
        letter-spacing: 2px;
        
    }
    nav{
        background-color: #ececec;
    }
    body{
        margin: 0;
        padding: 0;
        
    }
    #landing #text{
    margin-left: 0;
    margin-right: 400px;
        font-size: 20px;
        margin-top: 50%;
    }
    
    #landing .myPic{
        margin-top: 50%;
        margin-left:0;
        margin-right: 0;
        min-width:320px;
        height:320px;
    }
    #landing{
    margin-top:50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
    height:fit-content;
    padding:0;
    text-align: center;
    display:block;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
   }
   body{
       font-size: 20px;
       
   }
   #topbtn{
       width: 10%;
       position: fixed;
       top: 0;
       right: 70px;
       font-size: 10px;
       border: none;
       border-radius: 100%;
       color: rgb(0, 0, 0);
       transform: rotate(-135deg);
       -webkit-transform: rotate(-135deg);
       background-color: rgb(255, 160, 96);
       margin-right: 35px;
   
   
   }
   .arrow{
       border: solid black;
       border-width: 0 5px 5px 0;
       border-radius: 2px;
       display: inline-block;
       margin-right: 100px;
       margin-top: 10px;
   }
   #contact-text{
       margin-top: 50%;
   }
   
   .buttons .portfolio{
       margin-left: 100px;
       margin-top: 10%;
       font-size: 30px;
       width: 60%;
   }
   .portfolio{
       text-decoration: none;
        border: 5px solid white;
        
        margin-left:-10%;
        margin-right:0;
        margin-bottom: 0;
        width: 100%;
        font-size: 5px;
        
        
   }
   .buttons .portfolio:hover{
       width: 80%;
       margin-left: 40px;
       transform: scale(1.3);
       transition: transform .3s;
   }
   
   #firstButn {
   background-color: #F78888;
   } 
   #secondButn {
   background-color: rgb(248, 185, 142);
   
   }
    #thirdButn {
    background-color:rgb(255, 208, 0) ;
   }
   #fourthButn{
       background-color: #5da2d5;
   }
   

   
   div .column-work{
       column-span: 2;
        display: flex;
        flex-direction: row;
       float: left;
       width: 50%;
       height: auto;
       margin-left: 20%;
       margin-right: 0;
       margin-bottom: 300px;
       margin-top: 100px;
       padding: 5px;
       transition: transform .3s;
       cursor: pointer;
       
   }

.column-work{
   border: 2px solid #ececec;
}  
.column-work:hover{
   transform: scale(1.3);
   

}

.row-work::after{
   content: "";
   clear: both;
   display: inline-block;
}
}
   



/* Non-retina Screens*/
@media screen and(min-device-width: 1200px)
and (max-device-width:1600px)
and(-webkit-min-device-pixel-ratio: 1){

}

/*Retina Screens*/
@media screen and (min-device-width:1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution:192dpi){

}


#landing , #about, #contact{
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
    height: 110vh;
    /*border-bottom: 3px solid rgb(156, 156, 156);*/
    padding:0;
    text-align: center;
    display:block;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
#landing div , #about div, #contact div{
    position: relative;

}
/*#landing div{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 0%;
    display: flex;
    
}*/


#about div{
    width: 100%;
    height: 100%;
    
}
#contacttext{
    margin-top: 50%;
}
#contact div{
    margin-top:-10%;
    width: 100%;
    height: auto;
}
.worksection{
    background-color:#5da2d5;
    margin-bottom: 10%;
}
.workpageheading{
    margin-top: 200px;

}
.aboutMe{
    font-size: 20px;
    margin-top: 50px;
}
h2{
    margin-top: 2px;
}
section{
    
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}
#contact{
    margin-top: o;
    background-color: rgb(248, 185, 142);
}
#contact-text{
    margin-top: 10%;
}
.myPic{
    margin-top:0;
    margin-left:500px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    display: block;

}

#resume a{

    text-decoration: none;
    color: #5da2d5;
    
}
#resume li a{
 text-decoration: none;
 color: #5da2d5;
}
#resume li a:hover, #resume a:hover{
    color: #F78888;
}
#resume ol li{
    list-style: none;
}
.cv li{
    list-style: none;
    text-decoration: none;
}

#resume{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 221, 91);
    color: black;
}
.buttons{
    width: 100%;
    height: 100%;
    background-color: #5da2d5;
}
.portfolio{
    text-decoration: none;
     border: 5px solid white;
     margin-top: 3%;
     margin-left: 300px;
     width: 50%;
     height: 320px;
     cursor: pointer;
     font-size: 30px;
     justify-content: center;
     border-radius: 8px;
     color: white;
}
.portfolio:hover{
    width: 50%;
    margin-left: 300px;
    transform: scale(1.2);
    transition: transform .5s;
}

#firstButn {
background-color: #F78888;
} 
#secondButn {
background-color: rgb(248, 185, 142);

}
 #thirdButn {
 background-color:rgb(255, 208, 0) ;
}
#fourthButn{
    background-color: #5da2d5;
}

.middletext{
    margin:0;
    display: inline-block;
    text-align: center;
    background-color: #5da2d5;
    color: rgb(255, 255, 255);
    

}
.work img{
    width: 100%;
    height: auto;
}



.column-work{
    column-span: 2;
     display: flex;
     flex-direction: row;
    float: left;
    width: 25%;
    height: 320px;
    margin-left: 0;
    margin-right: 100px;
    margin-bottom: 20px;
    padding: 5px;
    transition: transform .3s;
    cursor: pointer;
    
}
.column-work{
    border: 2px solid #ececec;
}
.column-work:hover{
    transform: scale(1.3);

}

.row-work::after{
    content: "";
    clear: both;
    display: inline-block;
}


#resume img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;

}
#landing #text{
    margin-left:220px;
    margin-top: 20%;
    float: left;
    text-align: center;
    display: block;


}
.wireframe{
    background-color: #5da2d5;
}
#profession{
    margin-top: 0;
}
h2, h1{
    font-family: 'Playfair Display', serif;
}
.row-landing{
display: flex;
flex-direction: row;
column-span: 2;
column-gap: 0;


}


/*landing-page div code*/
.column-landing{
   float:left;
    padding: 10px;
    height: 100%;
    
    
    
    
   
}
.left{
    margin: 0;
    width: 35%;
    height: 100%;
    background-color:#F78888;
}
#right{
    margin: 0;
    width: 75%;
    height: 100%;
    background-color: rgb(202, 102, 102);
}

.row-landing::after{
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 40px;
}
#topbtn{
    padding: 10px;
    position: fixed;
    top: 50%;
    right: 10px;
    font-size: 18px;
    border: none;
    color: rgb(0, 0, 0);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    background-color: rgb(255, 160, 96);


}
#topbtn :hover{
    background-color: rgb(255, 186, 58);
    color: rgb(255, 0, 0);
}