html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    padding:0;
    padding-bottom: 100px;
    height:100%;
    color: rgb(255, 255, 255);
   /* background-color: rgb(102, 170, 202);*/
   background-color: rgb(248, 0, 0);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
}
   
    nav{
        margin-top:0;
        margin-left: 0;
        margin-right: 0;
        padding: 14px 16px;
        background-color:#ececec;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .logo, .menucontainer{
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .logo{
     margin: 0;
     width: 40%;
     height: 5%;
    font-family: 'Kaushan Script', cursive;
     font-size: 2.0rem;
     letter-spacing: 2px;
     color: #000000;
    
    
    
    }
    .menucontainer, .menu{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    
    }
    
    .menucontainer{
        margin-top: 40px;
        margin-left: 800px;
        overflow: hidden;
        background-color: transparent;
        position: absolute;
        
    }
    .menu, #menubtn{
        /*margin-left: 10px;*/
        font-family: 'Oswald', sans-serif;
    }
    .menucontainer a, #menubtn{
        /*width: 50%;*/
        justify-content: space-around;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        display:block;
        float:left;
        padding: 14px 16px;
        letter-spacing: 2px;
        cursor: pointer;
        
    }
    #menubtn , .abtbtn{
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0);
    }
    .menu a:hover, #menubtn:hover{
        background-color: rgb(255, 208, 0);
        color:rgb(0, 0, 0);
    }
    .menucontainer a.active{
        background-color: #ececec;
        color: rgb(0, 0, 0);
    }
    .menucontainer .icon{
        display: none;
    }
    .dropdown{
        position: relaive;
        display:inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: red;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
    }
    .dropdown-content a {
        color: black;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: -10px;
        padding-bottom: 0px;
        text-decoration: none;
        display: block;
    }
   .dropdown:hover .dropdown-content{
       display: block;
   }


/*screens 600px or less*/
@media screen and (max-width: 600px)
{
    .menucontainer a:not(:first-child) {display: none;}

     .menucontainer a.icon{   float: right;
        display: block;
    }
}

@media screen and (max-width: 600px){
    .menucontainer.responsive{ position:relative;}
    .menucontainer.responsive a.icon{
        position: absolute;
        right: 10%;
        top: 0;
    }
    .menucontainer.responsive{
        float:none;
        display: block;
        text-align: left;
    
    }
    .nav{
        display: flex;
        position: relative;
    }
    .column-work{
        width: 100%;
    }
    .column-landing{
        width: 100%;
    }
    .myPic{
        max-width: 100%;
        height: auto;
     
    }
    div{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 900px){
    .column-landing{
        width: 50%;
    
    }
    .column-work{
        width: 50%;
    }
    .myPic{
        max-width: 50%;
        height: auto;
    }
}

/*Laptops*/
@media screen and (max-width:1024){
    .menucontainer.responsive{ position:relative;}
    .menucontainer.responsive a.icon{
        position: absolute;
        right: 10%;
        top: 0;
        margin-top: 10%;
    }
    .menucontainer.responsive{
        float:none;
        display: block;
        text-align: left;
    
    }
    .nav{
        display: flex;
        position: relative;
    }
    .column-work{
        width: 100%;
    }
    .column-landing{
        width: 100%;
    }
    .myPic{
        max-width: 50%;
        height: auto;
     
    }
    div{
        width: 100%;
        height: auto;
    }
}



/* Non-retina Screens*/
@media screen and(min-device-width: 1200px)
and (max-device-width:1600px)
and(-webkit-min-device-pixel-ratio: 1){

}

/*Retina Screens*/
@media screen and (min-device-width:1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution:192dpi){

}
/*Phones*/



/*.menuicon{
    display: flex;
    position: absolute;
    top: .75rem;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:20px;
}

.menuicon span{
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10px;
}*/

/*@media (max-width: 800px){
   .menuicon{
       display: flex;
    
   }
 
   .menucontainer{
    background-color: rgb(47, 156, 170);
   }
   /*.myPic{
       margin-top:0;
       width: 2500px;
    

   }
   .logo{
       flex-direction: column;
       align-items: flex-start;
       width: 70%;
       position: absolute;
       font-size: 2.0rem;
       margin-left: 0;
       position: fixed;


   }
   .menucontainer ul{
       flex-direction: row;
       align-items: flex-end;
       float: none;
       margin-left: 50%;
   }
  #landing div, #about div, #contact div{
       height: auto;
       width: 50%;
       
   }*/


#landing , #about, #contact{
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
    height: 100vh;
    /*border-bottom: 3px solid rgb(156, 156, 156);*/
    padding:0;
    text-align: center;
    display:block;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
#landing div , #about div, #contact div{
    position: relative;

}
/*#landing div{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 0%;
    display: flex;
    
}*/


#about div{
    width: 100%;
    height: 100%;
    
}
#contact div{
    width: 100%;
    height: 100%;
}
.worksection{
    background-color:#5da2d5;
}
.workpageheading{
    margin-top: 200px;

}
.aboutMe{
    font-size: 20px;
    margin-top: 50px;
}
h2{
    margin-top: 2px;
}
section{
    
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}
#contact{
    margin-top: 0.5%;
    background-color: rgb(248, 185, 142);
}
.myPic{
    margin-top:100px;
    margin-left:300px;
    width: 50%;
    height: auto;
    display: block;

}

.resume li{
    list-style: none;
    text-decoration: none;
    
}
.cv li{
    list-style: none;
    text-decoration: none;
}

#resume{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.middletext{
    margin:0;
    display: inline-block;
    text-align: center;
    background-color: #5da2d5;
    color: rgb(255, 255, 255);
    

}
.work img{
    width: 100%;
    height: auto;
}



.column-work{
    column-span: 2;
    float: left;
    width: 33.33%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding: 5px;
    transition: transform .3s;
    cursor: pointer;
    
}
.column-work{
    border: 2px solid #ececec;
}
.column-work:hover{
    transform: scale(1.3);
}

.row-work::after{
    content: "";
    clear: both;
    display: inline-block;
}


img{
    max-width: 100%;
    height: auto;
}
#text{
    margin:0;
    margin-top: 50%;
    float: left;
    text-align: center;
    display: block;


}
h2, h1{
    font-family: 'Playfair Display', serif;
}
.row-landing{
display: flex;
column-span: 2;
column-gap: 0;


}


/*landing-page div code*/
.column-landing , .column-landing {
   float:left;
    padding: 10px;
    height: 100%;
    
    
    
    
   
}
.left{
    margin: 0;
    width: 35%;
    height: 100%;
    background-color:#F78888;
}
.right{
    
    width: 75%;
    height: 100%;
    background-color: rgb(102, 170, 202);
}

.row-landing::after{
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 40px;
}
#topbtn{
    padding: 10px;
    position: fixed;
    top: 50%;
    right: 10px;
    font-size: 18px;
    border: none;
    color: rgb(0, 0, 0);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    background-color: rgb(255, 160, 96);


}
#topbtn :hover{
    background-color: rgb(255, 186, 58);
    color: rgb(255, 0, 0);
}